.navcontainer {
  height: 15vh;
  width: 80%;
  margin: 0px auto 0px auto;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.navcontainer .navwrapper {
  display: flex;
  flex-direction: row;
  height: 12vh;
  position: relative;
}
.navcontainer .navwrapper .navlogo {
  height: 70%;
  margin-top: 6px;
}
.navcontainer .navwrapper .navlogo img {
  height: 100%;
  width: 100%;
}
.navcontainer .navwrapper .navabout {
  width: 70%;
  height: 100%;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: right;
  padding-top: 10px;
  cursor:context-menu;
}
.navcontainer .navwrapper .navabout div {
  height: 100%;
  width: 200px;
  display: flex;
}
.navcontainer .navwrapper .navabout div.icon {
  width: 23%;
  padding: 8% 0px 0px 10%;
  font-size: 28px;
  font-weight: 700;
  color: #ff0202;
  box-sizing: border-box;
}
.navcontainer .navwrapper .navabout div.icon2 {
  margin-right: -20px;
}
.navcontainer .navwrapper .navabout div .text {
  width: 70%;
  height: 80%;
  flex-direction: column;
}

.navcontainer .navwrapper .navabout div .text .text1 {
  width: 100%;
  justify-content: center;
  color: #ffae02;
  font-weight: 700;
  font-size: 18px;
}
.navcontainer .navwrapper .navabout div .text .text2 {
  width: 100%;
  justify-content: center;
  font-size: 14px;
  color: #ffae02;
}


/* ####################### Media Query  ########################  */

/* ------------- media query for max-width:1000px  ---------*/
@media screen and (max-width: 1000px) {
   .navcontainer{
       width: 100%;
       background: rgba(175, 172, 172,0.6);
   }
  .navcontainer .navwrapper .navabout {
    width: 80%;
  }
}

/* ------------- media query for max-width:820px  ---------*/
@media screen and (max-width: 820px) {
  .navcontainer .navwrapper .navabout {
    width: 75%;
  }
  .navcontainer .navwrapper .navabout div.icon2 {
    margin-right: 0px;
  }
}

/* ------------- media query for max-width:712px  ---------*/

@media screen and (max-width: 712px) {
  .navcontainer {
    height: 22vh;
  }

  .navcontainer .navwrapper {
    height: 22vh;
    display: flex;
    flex-direction: column;
  }
  .navcontainer .navwrapper .navlogo {
    height: 20%;
    width: 25%;
  }
  .navcontainer .navwrapper .navabout {
    height: 70%;
    width: 100%;
    bottom: 0;
  }
  .navcontainer .navwrapper .navabout div {
    flex-direction: column;
    height: 80%;
  }
  .navcontainer .navwrapper .navabout div.icon {
    width: 100%;
    height: 45px;
    padding-bottom: 0;
    padding: 0px 0px 0px 40%;
  }

  .navcontainer .navwrapper .navabout div.text {
    width: 100%;
    height: 80%;
  }
  .navcontainer .navwrapper .navabout div.text .text1 {
    height: 70%;
    margin-bottom: 0;
  }
  .navcontainer .navwrapper .navabout div.text .text2 {
    height: 70%;
    padding-top: -30px;
  }
}

/* ------------- media query for max-width:300px  ---------*/

@media screen and (max-width: 300px) {
  .navcontainer {
    height: 12vh;
  }

  .navcontainer .navwrapper {
    height: 12vh;
  }
  .navcontainer .navwrapper .navlogo {
    height: 90%;
    width: 40%;
  }
  .navcontainer .navwrapper .navabout {
    display: none;
  }
}
